<div class="home">

      <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
        <a class="navbar-brand" href="#">
           <% @users = User.all %>
           <% @users.each do |user| %>
              <img src="https://cdn.pixabay.com/photo/2013/07/13/13/21/wheelchair-160875_960_720.png" />
           <% end %>
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sign out</a>
            </li>
            <li class="nav-item dropdown">
              <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src= "user.photo.key" />
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
              </div>
            </li>
          </ul>
        </div>


     </div>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "fauteuil.jpg", alt: "first", class:"d-block w-100 test"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "enceinte.jpg", alt: "first", class:"d-block w-100 test" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "vieux.jpg", alt: "first", class:"d-block w-100 test" %>
          </div>
        </div>
      </div>


    </div>
</div>








