<div class="home">



    <h1 class="search"> Test </h1>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag "fauteuil.jpg", alt: "first", class:"d-block w-100 test"%>
          </div>
          <div class="carousel-item">
            <%= image_tag "enceinte.jpg", alt: "first", class:"d-block w-100 test" %>
          </div>
          <div class="carousel-item">
            <%= image_tag "vieux.jpg", alt: "first", class:"d-block w-100 test" %>
          </div>
        </div>
      </div>


    </div>
</div>








