@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.card-list {
 font-family:'Quicksand', sans-serif;
 color: #59595A;
}

.card-product {
  display: flex;
  width: 800px;
  height: 300px;
  align-items: center;
  border-top: solid 1px #59595A;
  }

.annonce {
  padding-left: 20px;
  width: 400px;
}

.annonce p {
}

img {
  width: 350px;
  border-radius: 10px;
 }

.book {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
