@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

.card-list {
 font-family:'Quicksand', sans-serif;
 color: #59595A;
 margin-top: 20px;
}


.card-product {
  display: flex;
  width: 650px;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-top: solid 1px grey;
  margin-left: 20px;
  }

.annonce {
  padding-left: 20px;
  width: 250px;
}

.card-head {
  display: flex;
}



.picture {
  width: 250px;
  height: 150px;
 }

 .picture img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

.book-reservation {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 400px;
}

a {
  text-decoration: none!important;
  color: #59595A;

}

a:hover {
  color: grey;
}

.petit {
  font-size: 16px;
}


.card__title {
  margin-left: 200px;

    .img-available {
      width: 30px;
      height: 30px;
    }
    .img-unavailable {
      opacity: 0.2;
    }
}
