#map {
  min-height: 100%;
  width: 90%;
  object-fit:cover;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.map-part {
  height: 100vh;
  position: sticky;
  top: 0;
}
